* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 60vh;
    width: 40vw;
}

.display {
    width: 100%;
    min-height: 20%;
    max-height: min-content;
    background-color: gray;
    color: white;
    word-break: break-all;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3vw;
}

.sNumber {
    font-size: 40px;
}

.fNumber {
    font-size: 23px;
}

.calculator {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, fr);
}
